h3 {
  font-size: unset;
  margin-block: 0;
  line-height: normal;
}

.slider {
  max-width: var(--details-container-max-w);
  margin: var(--desktop-layout-padding) auto;
}

.slick-dots {
  display: flex !important;
  & > .slick-active {
    width: 25%;
    height: 5px;
    background-color: var(--marvel-red);
  }
  & > li {
    list-style: none;
    width: 25%;
    margin: 0;
    & > button {
      width: 100%;
      &::before {
        content: '';
      }
    }
  }
}

.slider--title {
  font-size: 2.5rem;
  margin-bottom: calc(var(--desktop-layout-padding) / 2);
}

.slider--container {
  width: 100%;
  & > ul {
    display: flex !important;
    gap: 16px;
    padding: 0;
    margin: 0;
    & > li {
      list-style: none;
    }
  }
}
