.cards-grid {
  padding-inline: var(--desktop-layout-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-top: calc(var(--desktop-layout-padding) / 2);
}
