.card {
  --card-footer-height: 56px;
  @media (min-width: 768px) {
    max-width: 180px;
  }
  @media (max-width: 768px) {
    max-width: 165px;
  }
  height: 245px;
  border: 0 0 3px 0;
  background-color: #d9d9d9;
  position: relative;
  overflow: hidden;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    transform: translateX(70%) translateY(60%) rotate(45deg);
    z-index: 1;
  }
  &:hover .card--footer > .card--footer__divider {
    transition: height 0.5s ease-in;
    height: var(--card-footer-height);
  }
}

.card--image {
  height: 190px;
  position: relative;
}

.card--image__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--footer {
  height: var(--card-footer-height);
  background-color: var(--main-text-color);
}

.card--footer__divider {
  height: 3px;
  width: 100%;
  background-color: var(--marvel-red);
  height: 5px;
  transition: height 0.5s ease-in;
  position: absolute;
}

.card--footer__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: 16px;
}

.card--footer__description--name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  min-width: 130px;
  min-height: 20px;
}

.text-loading,
.img-loading {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  animation: unset;
  border: unset;
  border-radius: unset;
}

.text-loading::after,
.img-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  animation: shimmer 2s infinite;
  content: '';
}

.img-loading {
  background-color: #dbdbdb;
}

.img-loading::after {
  background-image: linear-gradient(
    90deg,
    #dbdbdb 0,
    #e3e3e3 50%,
    #dbdbdb 100%
  );
}

.text-loading {
  background-color: #3d3d3d;
}

.text-loading::after {
  background-image: linear-gradient(90deg, #3d3d3d 50%, #2d2d2d 50%, #000 100%);
}

.fav-btn {
  cursor: pointer;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
