.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  display: flex;
  &::-webkit-progress-bar {
    background-color: transparent;
  }
}

.progress-zero {
  height: 0.5px;
  background-color: #d3d3d3;
}

.progress-value {
  height: 5px;
  &::-webkit-progress-value {
    background-color: var(--marvel-red);
  }
}
