.hero-section {
  position: relative;
  overflow: hidden;
  color: #fff;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color);
    transform: translateX(60%) translateY(50%) rotate(45deg);
    z-index: 1;
  }
}

.hero--section--description__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.svg {
  width: 24px;
  height: 24px;
}

.hero-section--text-loading,
.hero-section--img-loading {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
  animation: unset;
  border: unset;
  border-radius: unset;
}

.hero-section--text-loading::after,
.hero-section--img-loading::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  animation: shimmer 2s infinite;
  content: '';
}

.hero-section--img-loading {
  width: 100%;
  background-color: #1d1d1d;
}

.hero-section--img-loading::after {
  background-image: linear-gradient(90deg, #1d1d1d 50%, #1d1d1d 50%, #000 100%);
}

.hero-section--text-loading {
  background-color: #1d1d1d;
  min-height: 60px;
}

.hero-section--text-loading::after {
  background-image: linear-gradient(90deg, #1d1d1d 50%, #1d1d1d 50%, #000 100%);
}

@media (min-width: 768px) {
  .hero-section {
    height: 320px;
    background-color: var(--main-text-color);
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .hero-section--container {
    max-width: var(--details-container-max-w);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 48px;
  }

  .hero-section--container__image {
    height: 100%;
  }

  .hero-section--container__description {
    width: 100%;
    & > h2 {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    width: 100%;
    background-color: var(--main-text-color);
    color: #fff;
    display: flex;
    justify-content: center;
  }

  .hero-section--container__image {
    width: 100%;
  }
  .hero-section--container__description {
    width: 100%;
    padding-inline: calc(var(--desktop-layout-padding) / 3);
  }
}
