.layout {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

.layout--content {
  position: relative;
  view-transition-name: layout-content;
  min-height: 80vh;
  @media (max-width: 600px) {
    min-height: 30vh;
  }
}
