:root {
  --bg-color: #f2f2f2;
  --main-text-color: #000;
  --marvel-red: #ec1d24;
  --details-hero-bg-color: #000;
  --details-container-max-w: 960px;
  --desktop-layout-padding: 48px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f2f2f2;
    --main-text-color: #000;
  }
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --main-text-color: #fff;
  }
} */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--marvel-red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 60%, 50%);
}

@supports (view-transition-name: none) {
  ::view-transition-group(layout-content) {
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  ::view-transition-old(layout-content) {
    animation: toDown 0.15s cubic-bezier(0.45, 0.45, 0.74, 0.73) both;
  }

  ::view-transition-new(layout-content) {
    animation: fromUp 0.45s cubic-bezier(0.45, 0.45, 0.74, 0.73) 0.75s both;
  }
}

@keyframes toDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(4px);
    opacity: 0;
  }
}

@keyframes fromUp {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
